<div style="font-size: 20px">
    <img src="https://comethru.io/images/logo/logo.png" height="100" alt="Comethru logo" style="padding: 10px; background-color: #15202b;">
    <p>Welcome to Comethru, {{ name }}! Before you can log in, you need to verify that you actually own this email address.</p>
    <a style="display: inline-block; padding: 10px 15px; background: #15202b; box-sizing: border-box; color: white; text-decoration: none;" href="{{ confirm_url }}">Confirm email</a>
    <p>Feel free to contact hello@comethru.io with questions!</p>
    <p>
        See you soon!<br>
        - Comethru team 🎉<br>
    </p>
</div>
