<div style="font-size: 20px">
    <img src="https://comethru.io/images/logo/logo.png" height="100" alt="Comethru logo" style="padding: 10px; background-color: #15202b;">
    <p>Hi {{ name }}! Someone requested a password reset on your Comethru account.</p>
    <a style="display: inline-block; padding: 10px 15px; background: #15202b; box-sizing: border-box; color: white; text-decoration: none;" href="{{ url }}">Reset password</a>
    <p>Alternatively, click or copy this link: {{ url }}</p>
    <p>If you didn't request a reset, please ignore this email. Feel free to contact hello@comethru.io with questions!</p>
    <p>
        Thanks for using the app!<br>
        - Comethru team<br>
    </p>
</div>
