<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Reset Password</title>
    </head>
    <body>
        {% if message %}
        <h1>{{ message }}</h1>
        {% else %}
        <h1>Reset Password</h1>
        <form method="post">
            <label>
                New Password
                <input type="password" name="password">
            </label>
            <br>
            <input type="submit" value="Change password">
        </form>
        {% endif %}
    </body>
</html>
