<!DOCTYPE html>
<html>
    <head>
        <title>Comethru Stats</title>
        <style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #15202b;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    font-size: 300px;
    line-height: 0.8;
}
p {
    font-size: 30px;
    text-transform: uppercase;
}
        </style>
        <meta http-equiv="refresh" content="10"/>
    </head>
    <body>
        <h1>{{ users }}</h1>
        <p>registered users</p>
        <p>({{ (users / 5964 * 100) | round(2) }}% of Yale undergrads)</p>
    </body>
</html>
